In [1]:
import glob                        # working with OS pathnames
import kagglehub
import pandas as pd

### Data

In [2]:
# Download latest version
path = kagglehub.dataset_download("abhisheksjha/time-series-air-quality-data-of-india-2010-2023")

# print("Path to dataset files:", path)

In [3]:
df_states = pd.read_csv(f'{path}/stations_info.csv')
df_states.drop(columns=['agency', 'station_location', 'start_month'], inplace=True)
df_states.head()

  file_name           state               city  start_month_num  start_year
0     AP001  Andhra Pradesh           Tirupati                7        2016
1     AP002  Andhra Pradesh         Vijayawada                5        2017
2     AP003  Andhra Pradesh      Visakhapatnam                7        2017
3     AP004  Andhra Pradesh  Rajamahendravaram                9        2017
4     AP005  Andhra Pradesh          Amaravati               11        2017

In [4]:
unique_states = df_states['state'].unique()
unique_states

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Chandigarh', 'Delhi', 'Gujarat',
       'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Jammu and Kashmir',
       'Karnataka', 'Kerala', 'Maharashtra', 'Meghalaya', 'Manipur',
       'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Puducherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu',
       'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal'],
      dtype=object)

In [5]:
df_states[df_states['city'] == 'Ghaziabad']

    file_name          state       city  start_month_num  start_year
390     UP009  Uttar Pradesh  Ghaziabad                9        2017
398     UP017  Uttar Pradesh  Ghaziabad                2        2019
399     UP018  Uttar Pradesh  Ghaziabad                2        2019
400     UP019  Uttar Pradesh  Ghaziabad                2        2019

In [6]:
def combine_city_df(state_name):
    '''
    Combine all state files into a single dataframe and attaching the city information.

    Parameters
    ----------
        state_name (str): The name of the state

    Return
    ------
        df (DataFrame): The combined dataframe from all files of a specific state
    '''
    
    state_code = df_states[df_states['city'] == state_name]['file_name'].iloc[0][:2]
    state_files = glob.glob(f'{path}/{state_code}*.csv')
    print(f'Combining a total of {len(state_files)} files...\n')

    combined_df = []
    
    for state_file in state_files:
        file_name = state_file.split(f'{path}\\')[1][0:-4]
        print(f'State file : {file_name}')
        file_df = pd.read_csv(state_file)
        file_df['city'] = df_states[df_states['file_name'] == file_name]['city'].values[0]
        file_df['city'] = file_df['city'].astype('string')
        combined_df.append(file_df)
        
    return pd.concat(combined_df)

In [7]:
df = combine_city_df('Ghaziabad')
df.info()

Combining a total of 57 files...

State file : UP001
State file : UP002
State file : UP003
State file : UP004
State file : UP005
State file : UP006
State file : UP007
State file : UP008
State file : UP009
State file : UP010
State file : UP011
State file : UP012
State file : UP013
State file : UP014
State file : UP015
State file : UP016
State file : UP017
State file : UP018
State file : UP019
State file : UP020
State file : UP021
State file : UP022
State file : UP023
State file : UP024
State file : UP025
State file : UP026
State file : UP027
State file : UP028
State file : UP029
State file : UP030
State file : UP031
State file : UP032
State file : UP033
State file : UP034
State file : UP035
State file : UP036
State file : UP037
State file : UP038
State file : UP039
State file : UP040
State file : UP041
State file : UP042
State file : UP043
State file : UP044
State file : UP045
State file : UP046
State file : UP047
State file : UP048
State file : UP049
State file : UP050
State file : UP051
State file : UP052
State file : UP053
State file : UP054
State file : UP055
State file : UP056
State file : UP057
<class 'pandas.core.frame.DataFrame'>
Index: 1894072 entries, 0 to 5604
Data columns (total 53 columns):
 #   Column               Dtype
---  ------               -----
 0   From Date            object
 1   To Date              object
 2   PM2.5 (ug/m3)        float64
 3   PM10 (ug/m3)         float64
 4   NO (ug/m3)           float64
 5   NO2 (ug/m3)          float64
 6   NOx (ppb)            float64
 7   NH3 (ug/m3)          float64
 8   SO2 (ug/m3)          float64
 9   CO (mg/m3)           float64
 10  Ozone (ug/m3)        float64
 11  Benzene (ug/m3)      float64
 12  Temp (degree C)      float64
 13  RH (%)               float64
 14  WS (m/s)             float64
 15  WD (deg)             float64
 16  SR (W/mt2)           float64
 17  BP (mmHg)            float64
 18  VWS (m/s)            float64
 19  CH4 (ug/m3)          float64
 20  NMHC (ug/m3)         float64
 21  THC ()               float64
 22  city                 string
 23  Toluene (ug/m3)      float64
 24  Eth-Benzene (ug/m3)  float64
 25  MP-Xylene (ug/m3)    float64
 26  O Xylene (ug/m3)     float64
 27  AT (degree C)        float64
 28  Xylene (ug/m3)       float64
 29  RF (mm)              float64
 30  Gust (km/hr)         float64
 31  Variance (n)         float64
 32  Power (W)            float64
 33  CO2 (mg/m3)          float64
 34  Ozone ()             float64
 35  WD (degree)          float64
 36  NOx (ug/m3)          float64
 37  Toluene ()           float64
 38  Eth-Benzene ()       float64
 39  MP-Xylene ()         float64
 40  Temp ()              float64
 41  RH ()                float64
 42  WS ()                float64
 43  WD ()                float64
 44  SR ()                float64
 45  BP ()                float64
 46  Xylene ()            float64
 47  AT ()                float64
 48  RF ()                float64
 49  WD (degree C)        float64
 50  NOx (ppm)            float64
 51  AT (degree)          float64
 52  NH3 (ppb)            float64
dtypes: float64(50), object(2), string(1)
memory usage: 780.3+ MB

In [8]:
# Adjust display settings
pd.set_option('display.max_columns', None)

df.describe(include='all')

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Benzene (ug/m3),Temp (degree C),RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),CH4 (ug/m3),NMHC (ug/m3),THC (),city,Toluene (ug/m3),Eth-Benzene (ug/m3),MP-Xylene (ug/m3),O Xylene (ug/m3),AT (degree C),Xylene (ug/m3),RF (mm),Gust (km/hr),Variance (n),Power (W),CO2 (mg/m3),Ozone (),WD (degree),NOx (ug/m3),Toluene (),Eth-Benzene (),MP-Xylene (),Temp (),RH (),WS (),WD (),SR (),BP (),Xylene (),AT (),RF (),WD (degree C),NOx (ppm),AT (degree),NH3 (ppb)
count,1894072,1894072,1.389495e+06,1.133801e+06,1.538971e+06,1.546692e+06,1.448169e+06,1.030634e+06,1.488239e+06,1.420776e+06,1.452556e+06,1.238963e+06,588258.000000,1.421313e+06,1.454653e+06,667412.000000,1.351009e+06,1.373303e+06,508684.000000,75362.000000,0.0,31132.000000,1894072,824907.000000,315718.000000,295298.000000,80400.000000,1.191124e+06,379526.000000,797866.000000,0.0,0.0,0.0,0.0,13622.000000,735514.000000,73443.000000,39890.000000,0.0,0.0,94713.000000,40126.000000,40126.000000,40079.000000,40126.000000,39423.000000,0.0,40055.000000,98321.000000,60183.000000,15333.000000,11034.000000,7055.000000
unique,116112,116112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2023-03-31 23:00:00,2023-04-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lucknow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,57,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,8.616326e+01,1.713119e+02,1.494694e+01,3.372030e+01,3.349649e+01,3.405125e+01,1.415639e+01,1.221840e+00,3.216363e+01,2.665540e+00,29.132288,6.187481e+01,1.413610e+00,175.721671,1.172956e+02,7.847950e+02,0.183312,703.710487,NaN,999.925524,NaN,9.553509,3.858045,4.860887,3.547714,2.569331e+01,2.816828,0.217065,NaN,NaN,NaN,NaN,42.260955,165.932801,26.043816,10.770728,NaN,NaN,31.279824,54.317894,2.107994,200.199853,78.032429,747.363535,NaN,24.333764,0.046954,159.551739,4.857546,23.553779,2.571899
std,NaN,NaN,9.163072e+01,1.385747e+02,3.610672e+01,3.524212e+01,4.454708e+01,2.876900e+01,1.530661e+01,1.761888e+00,3.458978e+01,1.342346e+01,5.606374,2.272315e+01,2.417777e+00,90.850892,1.762911e+02,9.535090e+01,1.319539,525.447200,NaN,577.899137,NaN,20.410991,16.569314,20.496821,14.161007,8.544265e+00,10.326478,2.635613,NaN,NaN,NaN,NaN,34.062818,75.933788,31.144275,17.521597,NaN,NaN,2.390164,13.682851,1.853498,85.677479,102.607210,31.727791,NaN,7.169538,0.682262,103.134745,2.671251,8.495671,2.331417
min,NaN,NaN,1.000000e-02,4.000000e-02,1.000000e-02,1.000000e-02,0.000000e+00,1.000000e-02,1.000000e-02,0.000000e+00,1.000000e-02,0.000000e+00,0.010000,1.000000e-02,1.000000e-02,0.010000,0.000000e+00,7.000000e+02,-18.530000,0.000000,NaN,0.000000,NaN,0.000000,0.010000,0.010000,0.010000,1.000000e-01,0.000000,0.000000,NaN,NaN,NaN,NaN,0.500000,0.020000,0.000000,0.000000,NaN,NaN,0.120000,19.750000,0.300000,1.000000,6.000000,702.330000,NaN,3.620000,0.000000,1.000000,0.000000,4.040000,0.130000
25%,NaN,NaN,3.000000e+01,7.156000e+01,2.260000e+00,1.163000e+01,1.067000e+01,1.525000e+01,5.260000e+00,4.800000e-01,8.300000e+00,1.200000e-01,27.470000,4.600000e+01,3.800000e-01,106.000000,7.750000e+00,7.404300e+02,-0.200000,295.777500,NaN,544.930000,NaN,0.880000,0.140000,0.150000,0.430000,1.938000e+01,0.100000,0.000000,NaN,NaN,NaN,NaN,16.430000,106.000000,10.180000,2.080000,NaN,NaN,29.950000,44.000000,0.550000,124.500000,7.000000,738.000000,NaN,18.870000,0.000000,54.500000,4.710000,16.352500,0.350000
50%,NaN,NaN,5.707000e+01,1.343600e+02,4.670000e+00,2.321000e+01,1.997000e+01,2.911000e+01,9.880000e+00,8.800000e-01,1.935000e+01,6.000000e-01,29.900000,6.375000e+01,8.500000e-01,177.500000,2.356000e+01,7.434800e+02,0.000000,673.605000,NaN,893.210000,NaN,3.030000,0.690000,0.630000,1.660000,2.680000e+01,0.410000,0.000000,NaN,NaN,NaN,NaN,35.150000,164.060000,15.700000,5.050000,NaN,NaN,31.380000,55.250000,1.600000,210.500000,9.750000,741.000000,NaN,25.480000,0.000000,149.500000,4.790000,24.340000,3.480000
75%,NaN,NaN,1.093300e+02,2.297500e+02,1.099000e+01,4.320000e+01,3.743000e+01,4.468000e+01,1.823000e+01,1.430000e+00,4.372250e+01,1.900000e+00,32.000000,8.000000e+01,1.700000e+00,248.750000,1.676400e+02,7.500000e+02,0.260000,900.280000,NaN,1450.257500,NaN,8.500000,2.470000,2.030000,2.530000,3.173000e+01,1.800000,0.000000,NaN,NaN,NaN,NaN,57.600000,226.000000,29.690000,12.500000,NaN,NaN,32.800000,65.250000,3.050000,271.500000,136.000000,743.000000,NaN,29.420000,0.000000,262.290000,4.870000,30.197500,3.520000
max,NaN,NaN,1.000000e+03,1.000000e+03,4.999000e+02,5.000000e+02,5.000000e+02,4.992200e+02,2.000000e+02,5.000000e+01,2.000000e+02,4.988700e+02,60.000000,1.000000e+02,5.000000e+01,360.000000,1.453450e+03,1.097080e+03,20.000000,2994.480000,NaN,2999.820000,NaN,499.990000,492.130000,499.990000,384.440000,6.000000e+01,482.600000,50.000000,NaN,NaN,NaN,NaN,199.830000,360.000000,485.630000,485.480000,NaN,NaN,42.400000,83.000000,15.450000,359.500000,431.000000,891.000000,NaN,46.650000,43.380000,359.000000,147.650000,42.930000,53.520000